<ion-view title="Claim List" hide-back-button="true">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true">
        <div class="list">

              <div class="item item-divider">
                Candy Bars
              </div>
            
              <a class="item" href="#">
                Butterfinger
              </a>
              <a class="item" href="#">
                Butterfinger2
              </a>
              <a class="item" href="#">
                Butterfinger3
              </a>
              <div class="item item-divider">
                Candy Bars2
              </div>
            
              <a class="item" href="#">
                Butterfinger
              </a>
              <a class="item" href="#">
                Butterfinger2
              </a>
              <a class="item" href="#">
                Butterfinger3
              </a>

      </div>
        
        <div class="list list-inset">
           Work in Progress : {{claimlist}}
        </div>
      
    </ion-content>

</ion-view>
