<ion-view title="MailGapp Form Detail"  hide-back-button="true"  class="card-bg">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
<div ng-if="mailgap.id">
    <ion-content has-header="true" padding="true">
		
		<form class="form">
        <div class="list list-inset" style="margin-top: 0px;">
            <br/>
            <label class="item item-input">
            	<span class="input-label">Date</span>
               <p>{{mailgap.mg_date__c}}</p> 
            </label>
            <label class="item item-input">
            	<span class="input-label">Name</span>
                <p>{{mailgap.name}}</p>
            </label>


            <br/>
            <fieldset>
                <legend class="item item-input">Delivery Address</legend>
                <div class=list>
	
                    <div class="item item-body">
                        <span class="input-label">Delivery Address</span>
                       <p>{{mailgap.mailingstreet}}</p> 
                    </div>
                    <label class="item item-input">
                    	<span class="input-label">Delivery Address City</span>
                        <p>{{mailgap.mailingcity}}</p>
                    </label>
                    <label class="item item-input">
                    <span class="input-label">Delivery Address State</span>
                        <p>{{mailgap.mailingstate}}</p>
                    </label>

                    <label class="item item-input">
                    <span class="input-label">Delivery Address ZipCode</span>
                        <p>{{mailgap.mailingpostalcode}}</p>
                    </label>
                </div>
            </fieldset>

            <br/>
            <fieldset>
                <legend class="item item-input">Applicant Authorizes Delivery</legend>
                <div class=list>
	                <label class="item item-input">
                    	<span class="input-label">Name</span>
                    	<p>{{mailgap.mg_name__c}}</p>
                    	
                    </label>
                    
                    <label class="item item-input">
                    	<span class="input-label">Address</span>
                    	<p>{{mailgap.otherstreet}}</p>
                    	
                    </label>

          	        <label class="item item-input">
        	            <span class="input-label">City</span>
        	            <p>{{mailgap.othercity}}</p>
    	                
					</label>            

                    <label class="item item-input">
	                    <span class="input-label">State</span>
	                    <p>{{mailgap.otherstate}}</p>
	                    
                    </label>

                    <label class="item item-input">
	                    <span class="input-label">ZipCode</span>
	                    <p>{{mailgap.otherpostalcode}}</p>
	                    
                    </label>

                    
                </div>
            </fieldset>
            <br/>
            <label class="item item-input">
                <span class="input-label">Applicant Name</span>
                 <p>{{mailgap.name}}</p>
	                    
            </label>
            <br/>

            <fieldset>
                <legend class="item item-input">Applicant Home Address</legend>
                <div class=list>
                	
                		<span class="input-label">Address</span>
                		 <p>{{mailgap.mg_applicant_address__c}}</p>
	                    
                    </label>
                    <label class="item item-input">
                    	<span class="input-label">City</span>
                    	 <p> {{mailgap.mg_applicant_city__c}}</p>
	                   
                    </label>
                    

                    <label class="item item-input">
                    	<span class="input-label">State</span>
                    	 <p> {{mailgap.mg_applicant_state__c}}</p>
	                   
                        
                    </label>

                    <label class="item item-input">
                    	<span class="input-label">ZipCode</span>
                    	 <p>{{mailgap.mg_applicant_zipcode__c}}</p>
	                    
                        
                    </label>

                    <label class="item item-input">
                    	<span class="input-label">Telephone No</span>
                    	 <p>{{mailgap.mg_applicant_phone__c}}</p>
	                    
                        
                    </label>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <legend class="item item-input">Identification</legend>
                <p style="color:red;">Two type of identification are required.One must contain a
                    photograph of the addressee(s).
                    Social Security Cards, and birth certificates are unacceptable as
                    identification.
                    The agent must write in identifying information. Subject to verification
                </p>

                <div class=list>
                    <label class="item item-input">
                    <span class="input-label">Proof A</span>
                     <p>{{mailgap.mg_identityproof1__c}}</p>
	                    
                        
                    </label>
                    <label class="item item-input">
                    <span class="input-label">Proof B</span>
                     <p>{{mailgap.mg_identityproof2__c}}</p>
	                    
                        
                    </label>
                </div>
                <p style="color:red;">
                    Acceptable identification includes:valid driving license or state non-driver's
                    Identification card,passport,government, university or recognized corporate Identification Card.
                </p>

            </fieldset>

            <br/>
            <fieldset>
                <legend class="item item-input">Corporation/Firm</legend>
                <div class=list>
                    <label class="item item-input">
                    <span class="input-label">Corporation/Firm Name</span>
                     <p>{{mailgap.mg_company_name__c}}</p>
	                    
                        
                    </label>

                    <label class="item item-input">
	                    <span class="input-label">Business Address</span>
	                     <p>{{mailgap.mg_business_address__c}}</p>
	                </label>    
                        
                    
                    <label class="item item-input">
	                    <span class="input-label">Business City</span>
	                     <p>{{mailgap.mg_business_address_city__c}}</p>
	                </label>
                    
                    <label class="item item-input">
	                    <span class="input-label">Business State</span>
	                     <p>{{mailgap.mg_business_address_state__c}}</p>
	                </label>
                    
                    <label class="item item-input">
                    	<span class="input-label">Business Zip</span>
                     	<p>{{mailgap.mg_business_address_zip__c}}</p>
	                </label>
                    
                    <label class="item item-input">
                    	<span class="input-label">Business Telephone</span>
                     	<p>{{mailgap.mg_business_telephneno__c}}</p>
	                </label>
                    
                    <label class="item item-input">
                    	<span class="input-label">Business Type</span>
                     	<p>{{mailgap.mg_business_type__c}}</p>
	                </label>
                </div>
            </fieldset>

            <br/>

            <div class="list">
                <div class="item item-body">
                    <textarea placeholder="Signature of Agent/Notary Public" rows="3"></textarea>
                </div>
                <div class="item item-body">
                    <p style="color:red">If Firm/Corporation application must be signed by
                        officer</p>
                    <br>
                    <img id="displayImage1" style="text-align:center;" height="80%" width="100%" ng-src="{{mailgapform.danielsign}}"/>


                </div>

            </div>
            
           <!-- <button class="button button-block button-stable" ng-click="download()">
                Download
            </button>
            -->

        </div>
	</form>
    </ion-content>
    
    </div>
    
    <div ng-if="mailgap.id == ''">
	<ion-content has-header="true" padding="true">
    	<h2>No Form data found</h2>
	</ion-content>
</div>

</ion-view>


