<ion-view title="Home" hide-back-button="true" class="profile">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
   
    <div style="margin-top: 50px;text-align: center;">

            <!--<img src="css/img/logo.svg" style="width:65%; margin:0 auto;display: block;"/>-->
           
            <img src="/img/wLogoBlack2.png" style="width:300px;height:300px;text-align:center;margin-top: 200px auto"/>
            <h2 style="margin-top: 2px;">Welcome to Warrenty Group</h2>
    
     </div>  

    </ion-content>

</ion-view>
